<div class="container-fluid screen" id="smoothieRecipeScreen">
    <div class="background background-dark">
        <div class="text-center">
            <div class="btn-group" id="criteria-type" data-toggle="buttons">
              <label class="btn btn-primary active">
                <input type="checkbox" checked>Ingredients
              </label>
              <label class="btn btn-primary">
                <input type="checkbox"> Nutrients
              </label>
            </div>
        </div>
        <div id="blender-btn" class="text-right">
            Edit Blender
            <img id="blender" src="..\images\blender.jpg" 
       class="img-rounded">
        </div>
        <!-- Tab panes -->
        <ul class="nav nav-tabs nav-tabs-dark-background" role="tablist" id="tabsCreateView">
            <li class="active" id="tabIngredients">
                <a href="#ingredients" role="tab" data-toggle="tab">Vegetables</a>
            </li>
            <li id="tabNutrients">
                <a href="#nutrients" role="tab" data-toggle="tab">Fruits</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade in active" id="ingredients">
                <table class="table smoothieList" id="tableIngredients">
                    <tr>
                        <td>Fruits</td>
                        <td>
                            <span class="glyphicon glyphicon-plus"></span>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>

<script>
$('#tabsCreateView li a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
});
//    var showNutrientsCreationForm = function() {
//        $("#tableIngredients").hide();
//        $("#tableNutrients").show();
//        $("#tabIngredients").removeClass("active");
//        $("#tabNutrients").addClass("active");
//    }
//    var showIngredientsCreationForm = function() {
//        $("#tableIngredients").show();
//        $("#tableNutrients").hide();
//        $("#tabIngredients").addClass("active");
//        $("#tabNutrients").removeClass("active");
//    }
</script>