<div class="container-fluid" id="homeScreen">
    <div class="background background-normal">

        <div class="appNameFrontScreen">Dr. Smoothie</div>
        <div class="btnHomePage" id="btnHomeCreateSmootie">
			<a ng-href="#/search" type="button" class="btn btn-primary btn-lg btn-block">Search</a>
        </div>
        <div class="btnHomePage" id="btnHomeRecipes">
        	<a ng-href="#/smoothie" type="button" class="btn btn-default btn-lg btn-block">Recipes</a>
        </div>
        <div class="btnHomePage" id="btnHomeCreateSmootie">
        	<a ng-href="#/create" type="button" class="btn btn-primary btn-lg btn-block">Create Smoothie</a>
        </div>
    </div>
</div>