        <div class="container-fluid screen" id="smoothieRecipeScreen">
            <div class="background background-dark">
                
                <ul class="nav nav-tabs nav-tabs-dark-background" role="tablist">
                    <li class="active"><a href="#">Ingredients</a></li>
                    <li><a href="#/top">Nutrients</a></li>
                </ul>
                
                <table class="table smoothieList">
                    <thead class="dark-background">
                        <tr><th>Smoothie</th><th>Recommendations</th></tr>
                    </thead>
                    <tbody ng-repeat="smoothie in smoothielist" class="dark-background">
                        <tr><td>{{smoothie.name}}</td><td>{{smoothie.recom}}</td></tr>
                        
                    </tbody>
                </table>
            </div>
        </div>